.content-container{
    width: 90%;
    height: 90%;

    background-color: var(--container-background-color);
    border: var(--container-border-color) 0.25vw solid;
    border-radius: 3vw 0.2vw 0.2vw 3vw;

    padding: 1.5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 0.5vh;

    overflow-y: auto;
    overflow-x: hidden;
}

.weapon-content{
    width: 12%;
    height: 25%;

    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: 0.5vh 0.2vw;

    border: var(--element-border-color) 0.15vw solid;
    border-radius: 0.7vw 0.7vw 0.7vw 0.7vw;
}

.content-container::-webkit-scrollbar {
    width: 0.4vw;
}

.content-container::-webkit-scrollbar-thumb {
    background-color: var(--container-background-color);
    border-radius: 15px;
}

.content-container::-webkit-scrollbar-track {
    background: var(--main-background-color);
}

.text-container{
    width: 99%;
    height: 33%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 70%;

    font-weight: bold;
    padding: 0.2vw;
}

.weapon-container {
  width: 45%;
  aspect-ratio: 1 / 1;
  
  background-color: var(--element-background-color);
  border: var(--element-border-color) 0.3vw solid;
  border-radius: 0.7vw;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;       
}

.weapon-image {
  width: 90%;
  height: 90%;
  object-fit: contain;
}