<div class="main-container">
    <div class="selector-container  container-border">
        <div [style.height]="'20%'" id="boss-text-container"> 
            <span>
                Current stage:  
            </span>
            <span>
                {{ currentIndex + 1 }}/{{ progression.length }} {{progression[currentIndex].step}} 
                <img id="boss-img" src="https://terraria.wiki.gg/images/Map_Icon_Eye_of_Cthulhu_%28first_form%29.png?1b90a8" alt="placeholder, display none in css">
            </span>
        </div>
        <div> Available Weapons: {{ availableToRollWeapons.length }} </div>
        <div> 
            Weapon: 
            <!--
            <div *ngIf="selectedWeapon.name !== 'None'" class="weapon-image">
                <img [src]="selectedWeapon['image']" alt="weapons">
            </div>
            -->
            <span class='selected-weapon'> {{ selectedWeapon.name }}</span>
        </div>
        
        <div id="weapon-container" *ngIf="selectedWeapon.name !== 'None'">
            <div class="weapon-image">
                <img [src]="selectedWeapon['image']" alt="weapons">
            </div>
            <div class="text-column">
                <div>
                    <span class='selected-weapon'>Rarity:</span>
                    <span class="rarity-color" [style.--current-color]="rarityColorVar">
                        {{ selectedWeapon.rarity || "Undefined" }}
                    </span>
                </div>
                <div>
                    <span class='selected-weapon'>Class:</span>
                    <span class="rarity-color" [style.--current-color]="rarityColorVar">
                        {{ selectedWeapon.class || "Undefined" }} 
                    </span>
                </div>
                
            </div>
        </div>

        <div id="special-container">
            <button (click)="changeStep(-1)" [disabled]="currentIndex === 0">P</button>
            <div> Select Stage <input #indexInput class="special-input" type="number" [value]="currentIndex+1" (change)="changeProgressionByInput(indexInput.value)"></div>
            <button (click)="changeStep(1)" [disabled]="currentIndex === progression.length - 1">N</button>
        </div>
        
        <button (click)="selectRandomWeapon()"> Get random weapon </button>
    </div>
</div>