.selector-container{
    background-color: var(--container-background-color);
    width: 43%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.selector-container > * {
    background-color: var(--element-background-color);
    border: var(--element-border-color) 0.15vw solid;
    border-radius: 0.1vw 0.7vw 0.1vw 0.7vw;

    width: 80%;
    height: 7%;

    text-align: center;

    display: flex;
    align-items: center;    
    justify-content: center; 

    box-sizing: border-box; 
    padding: 0;              
    margin: 0;     
}

.selector-container > button{
    background: linear-gradient(100deg, var(--spceial-button-color-one), var(--spceial-button-color-two));
}

.weapon-image {
  width: 5%;        
  aspect-ratio: 1 / 1; 

  overflow: hidden;     

  margin: 0 0.3vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.weapon-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;       
}

#special-container {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

#special-container > button {
    background: linear-gradient(100deg, var(--spceial-button-color-one), var(--spceial-button-color-two));
    border: var(--element-border-color) 0.15vw solid;
    border-radius: 0.1vw 0.7vw 0.1vw 0.7vw;

    margin: 0 1vw 0 1vw;

    width: 13%;
    height: 100%;
}

#special-container > div{
    background-color: var(--element-background-color);
    border: var(--element-border-color) 0.15vw solid;

    height: 100%;
    width: 50%;

    text-align: center;
    display: flex;
    align-items: center;    
    justify-content: center; 

    border-radius: 0.1vw 0.7vw 0.1vw 0.7vw;
}

.config-selector{
    height: 17%!important;
    display: flex;

    flex-direction: column;

    overflow-y: auto;         
    overflow-x: hidden; 
}


.config-selector > div{
    width: 80%;
    display: flex;
    align-items: center;
}

.config-selector > div > input{
    width: 1.2vw;
    height: 1.2vw;  

    margin-right: 0.5vw;
    filter: invert(60%) hue-rotate(15deg) brightness(2);
}

.config-selector::-webkit-scrollbar {
    width: 0.4vw;
}

.config-selector::-webkit-scrollbar-thumb {
    background-color: var(--container-background-color);
    border-radius: 0.2vw;
}

.config-selector::-webkit-scrollbar-track {
    background: var(--main-background-color);
}