.content-wrapper{
    height: 77%;
    width: 95%;
}

.button-holder{
    width: 12%;
    height: 12%;

    margin-top: 1vh;
    padding: 1px 5px;
    background-color: var(--container-background-color);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icon-holder{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    width: 95%;
    height: 55%;
}

.link-button{
    background: linear-gradient(120deg, var(--element-background-color), var(--element-background-color));
    height: 95%;
    width: 27%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.display-button{
    width: 95%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, var(--spceial-button-color-one), var(--spceial-button-color-two));
}

.link-button.active {
    background: linear-gradient(120deg, var(--spceial-button-color-one), var(--spceial-button-color-two));
}

footer{
    background-color: var(--element-background-color);

    width: 100%;
    height: 7.4%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8vh;
}

.version-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color:  var(--container-background-color);
    border-color: var(--element-border-color);

    width: 40;
    height: 60%;
}

.details-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

footer > *{
    margin: 0 2vw 0 2vw;
}

.version-text-container > span{
    font-size: 1vw!important;
}

.signature-text{
    display: flex;
    align-items: center;
}


.link-button > img {
    width: 100%;
    height: 100%;
}

#hint-image{
    margin-left: 5%;
    width: 8%;
    cursor: pointer;
}

#absolute-details{
    position: fixed;            
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%); 
    z-index: 1000;

    background-color: var(--container-background-color);

    width: 42%;
    height: 82%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#absolute-details > span{
    background-color: var(--element-background-color);

    border: var(--element-border-color) 0.15vw solid;
    border-radius: 0.7vw 0.7vw 0.7vw 0.7vw;

    text-align: center;
    padding: 0.1vw 0.4vw;

    width: 90%;

    margin-top: 1vh;
}
