<div class="main-container">

    <div class="button-holder container-border">
        <button class="link-button content-border" routerLink="/main" routerLinkActive="active"> Main </button>
        <button class="link-button content-border" routerLink="/config" routerLinkActive="active"> Weapons </button>
    </div>

    <div class="content-wrapper">
        <router-outlet></router-outlet> 
    </div>

    <footer>
        <div class="version-text-container">
            <span> Calamity v.2.0.5 </span>
            <span> Stars Above v.2.1.7.1  </span>
            <span> Terraria v.1.4.4.9  </span>
        </div>

        <span class="signature-text">
            Made by Artem Rozh
        </span>
    </footer>
</div>

