:root{
    --main-background-color: #272635b4;
    --element-border-color: #272635b4;
    --element-background-color: #3c408bb4;
    --container-border-color: #3c408bb4;
    --container-background-color: #295f58d5;

    --spceial-button-color-one: #ffe51ccb;
    --spceial-button-color-two: #ffff84cb;
}

html, body{
    background-image: url('backgrounds/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

app-root {
  height: 100%;
  width: 100%;
}
 
.main-container{
    width: 100%;
    height: 100%;    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-border{
    border: var(--container-border-color) 0.25vw solid;
    border-radius: 0.7vw 0.1vw 0.7vw 0.1vw;
}

.content-border{
    border: var(--element-border-color) 0.15vw solid;
    border-radius: 0.1vw 0.7vw 0.1vw 0.7vw;
}

* {
    font-size: 1.2vw;
    font-family: "Bookman Old Style", Georgia, serif;
}

button {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

button, input {
    cursor: pointer;
}
